:root {
    --slate: #30343d;
    --green: #92cccd;
    --blue: #455875;
    --white: white;
}

.page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--blue);
    width: 100%;
    height: 768px;
}

.page h1 {
    color: var(--white);
    padding: 4%;
}

.page p {
    padding: 4%;
    color: var(--white);
}