:root {
    --slate: #30343d;
    --green: #92cccd;
    --blue: #455875;
    --white: white;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    min-height: 75vh;
}

.about-me h1 {
    margin-top: 33px;
    color: var(--white);
}

.about-me img {
    margin-top: 33px;
    width: 300px;
    height: 300px;
    border-radius: 2%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.about-me p {
    margin-top: 33px;
    margin-bottom: 33px;
    color: var(--white);
    text-align: justify;
    width: 30%;
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio : 3) {
    .about-me p {
        width: 80%;
    }
}