:root {
    --slate: #30343d;
    --green: #92cccd;
    --blue: #455875;
    --white: white;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    min-height: 75vh;
}

.form {
    width: 50%;
}

.contact h1 {
    margin-top: 33px;
    color: var(--white);
}

.email {
    margin-top: 47px;
}

.email a {
    color: var(--green) !important;
    transition: all 0.2s ease-in-out;
}

.email a:hover {
    color: var(--white) !important;
}

.email-icon {
    margin-right: 10px;
    color: var(--white);
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio : 3) {
    .form {
        width: 80%;
    }
}