:root {
    --slate: #30343d;
    --green: #92cccd;
    --blue: #455875;
    --white: white;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate);
    height: 10vh;
    padding-bottom: 33px;
}

.icons a {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: var(--green);
}

.icons a:hover {
    color: var(--white);
}

