:root {
    --slate: #30343d;
    --green: #92cccd;
    --blue: #455875;
    --white: white;
}

.nav-bar {
    background-color: var(--slate);
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-bar li {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    cursor: pointer;
}

.nav-bar h1 {
    color: var(--green);
    display: flex;
    margin-left: 14px;
}

.nav-link {
    background-color: var(--slate) !important;
    color: var(--green) !important;
}

.nav-link:hover {
    color: var(--white) !important;
}

.active {
    background-color: var(--green) !important;
    color: var(--slate) !important;
    border-style: none !important;
}

.active:hover {
    background-color: var(--green) !important;
    color: var(--slate) !important;
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .nav-bar {
        flex-wrap: wrap;
    }

    .nav-bar li {
    font-size: 13px;
    }
}