:root {
    --slate: #30343d;
    --green: #92cccd;
    --blue: #455875;
    --white: white;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    min-height: 75vh;
    padding-bottom: 33px;
}

.portfolio h1 {
    margin-top: 33px;
    color: var(--white);
}

.project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
  }