.project-card {
  background: black;
  margin: 33px 33px 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  width: 330px;
  height: 330px;
}

.img-container {
  position: relative;
}

.img-container img {
  opacity: 1;
  object-fit: cover;
  object-position: top;
  width: 330px;
  height: 150px;
  transition: all .3s ease-in-out;
}

.img-container h6 {
  opacity: 0;
  transition: all .3s ease-in-out;
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover h6 {
  cursor: default;
  opacity: 1;
}

.project-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  background-color: var(--slate);
  padding: 10px;
  transition: all 3s ease-in-out;
}

.project-label h1 {
  font-size: 14px;
  text-align: center;
  color: var(--green);
}

.project-label p {
  font-size: 12px;
  text-align: center;
  color: var(--white);
}

.img-container h6 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  padding: 2%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.links a {
  padding: 10px;
  margin: 0px 10px 20px;
  font-size: 12px;
  color: var(--white);
  background-color: var(--green);
  color: var(--slate);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.links a:link {
  color: var(--slate);
}

.links a:visited {
  color: var(--slate);
}

.links a:active {
  color: var(--slate);
}

.links a:hover {
  background-color: var(--white);
  color: var(--slate);
}

.img-container h6:hover {
  cursor: pointer;
}