* {
    box-sizing: border-box;
}

:root {
    --slate: #30343d;
    --green: #92cccd;
    --blue: #455875;
    --white: white;
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    min-height: 75vh;
    transition: all 0.2s ease-in-out;
}

.resume h1 {
    margin-top: 33px;
    color: var(--white);
}

.resume h5 {
    margin-top: 33px;
    color: var(--white);
    text-align: left;
}

.resume p {
    margin-top: 11px;
    color: var(--white);
    text-align: center;
}

.resume a {
    transition: all 0.2s ease-in-out;
}

.resume a:link {
    color: var(--green);
}

.resume a:visited {
    color: var(--green);
}

.resume a:hover {
    color: var(--white);
}

.resume a:active {
    color: var(--white);
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
}

.skills p {
    text-align: justify;
}

.resume-link {
    margin: 20px 0 10px 0;
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio : 3) {
    .resume p a {
        width: 50%;
    }

    .skills {
        width: 20em;
    }
}