* {
    box-sizing: border-box;
}

:root {
    --slate: #30343d;
    --green: #92cccd;
    --blue: #455875;
    --white: white;
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    min-height: 75vh;
    transition: all 0.3s ease-out;
}

.resume h1 {
    margin-top: 33px;
    color: var(--white);
}

.resume h6 {
    margin-top: 33px;
    color: var(--white);
    text-align: left;
}

.resume ul {
    margin-top: 11px;
}

.resume p {
    margin-top: 11px;
    color: var(--white);
    text-align: center;
}

.resume li {
    color: var(--white);
}

.resume a {
    transition: all 0.3s ease-out;
}

.resume a:link {
    color: var(--green);
}

.resume a:visited {
    color: var(--green);
}

.resume a:hover {
    color: var(--white);
}

.resume a:active {
    color: var(--white);
}

.proficiencies {
    padding: 20px;
    width: 30em;
    background-color: var(--slate);
}

.proficiencies ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 280px;
}

.proficiencies li {
    color: var(--green);
}

.resume-link {
    margin-top: 33px;
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio : 3) {

    .resume p a {
        width: 50%;
    }

    .proficiencies {
        width: 20em;
    }

    .proficiencies ul {
        max-height: 100%;
    }
}