:root {
    --slate: #30343d;
    --green: #92cccd;
    --blue: #455875;
    --white: white;
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blue);
    width: 100%;
    min-height: 75vh;
}

.resume h1 {
    margin-top: 33px;
    color: var(--white);
}

.resume h5 {
    margin-top: 33px;
    margin-bottom: 33px;
    color: var(--white);
    text-align: left;
}

.resume ul {
    margin-top: 11px;
}

.resume p {
    margin-top: 11px;
    color: var(--white);
    text-align: center;
}

.resume li {
    color: var(--white);
}

.resume a:link {
    color: var(--green);
}

.resume a:visited {
    color: var(--green);
}

.resume a:hover {
    color: var(--white);
}

.resume a:active {
    color: var(--white);
}

.prof-col {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-evenly;
    background-color: var(--slate);
    padding: 20px;
}

.prof-col li {
    color: var(--green)
}

.resume-link {
    margin-top: 33px;
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio : 3) {
    .resume p a {
        width: 50%;
    }
}