.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 40px;
}

.icons a {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 36px;
  color: #f1f1f1;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.icons a:hover {
  opacity: 1;
}
